// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

@FG: #5c668e;
@BG: #ebedf3;
@WHITE: #fff;
@GRAY: #9a9ba0;
@BLACK: #222;
@RED: #e74c3c;
@GREEN: #27ae60;
@BLUE: #3498db;
@YELLOW: #f1c40f;
@ORANGE: #e67e22;
@PURPLE: #9b59b6;
@CYAN: #16a085;
@NO_: #f0f;

// General colors
@syntax-text-color: @FG;
@syntax-cursor-color: @BLACK;
@syntax-selection-color: fade(@YELLOW, 30%);
@syntax-background-color: @BG;

// Guide colors
@syntax-wrap-guide-color: fade(@FG, 25%);
@syntax-indent-guide-color: fade(@FG, 25%);
@syntax-invisible-character-color: fade(@FG, 25%);

// For find and replace markers
@syntax-result-marker-color: fade(@BLACK, 30%);
@syntax-result-marker-color-selected: fade(@BLACK, 90%);

// Gutter colors
@syntax-gutter-text-color: @FG;
@syntax-gutter-background-color: darken(@BG, 2%);

@syntax-gutter-text-color-current: @BLACK;
@syntax-gutter-background-color-current: transparent;

@syntax-gutter-text-color-selected: @FG;
@syntax-gutter-background-color-selected: @syntax-selection-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @BLUE;
@syntax-color-added: @GREEN;
@syntax-color-modified: @ORANGE;
@syntax-color-removed: @RED;
